<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Transactions.." ng-model="search">

        </div>
    </div>
</form>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Transaction Name
                        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'submittedBy'; sortReverse = !sortReverse">
                        Submitted By
                        <span ng-show="sortType == 'submittedBy' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'submittedBy' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </td>
                <td>Transaction Status</td>
                <td>Submitted Time</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactionList  | orderBy:sortType:sortReverse | filter:search">
                
                <td ><a href="/history/progress" ng-click="updateHistTrans(transaction.name)">{{ transaction.name }}</a></td>
                <td>{{ transaction.submittedBy }}</td>
                <td>{{ transaction.currentStatus }}</td>
                <td>{{ transaction.submittedtime | date: 'medium' }}</td>
            </tr>
        </tbody>

    </table>
</div>