<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Transactions.." ng-model="search">
        </div>
    </div>
</form>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td ng-show="!(currentTab=='queued')" >
                    <a style="cursor: pointer" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Transaction Name
                        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </td>
                <td ng-show="currentTab=='queued'">
                    <a style="cursor: pointer" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Transaction Name
                        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </td>
                <td>
                    <a style="cursor: pointer" ng-click="sortType = 'submittedBy'; sortReverse = !sortReverse">
                        Transaction Owner
                        <span ng-show="sortType == 'submittedBy' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'submittedBy' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </td>
                <td ng-hide="currentTab=='archived'" style="color:#337ab7">Submitted Time</td>
                <td ng-hide="currentTab=='queued'" style="color:#337ab7">Start Time</td>
                <td ng-show="currentTab=='archived'" style="color:#337ab7">Finished Time</td>
                <td ng-show="currentTab=='archived'" style="color:#337ab7">Validation Status</td>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactionList  | orderBy:sortType:sortReverse | filter:search">
                <td ng-show="!(currentTab=='queued')"><a href="/history/progress" ng-click="updateHistTrans(transaction)">{{ transaction.name }}</a></td>
                <td ng-show="currentTab=='queued'"><a>{{ transaction.name }}</a></td>
                <td>{{ transaction.submittedBy }}</td>
                <td ng-hide="currentTab=='archived'">{{ transaction.submittedtime | date: 'medium' }}</td>
                <td ng-hide="currentTab=='queued'">{{ transaction.starttime | date: 'medium' }}</td>
                <td ng-show="currentTab=='archived'">{{ transaction.endtime | date: 'medium' }}</td>
                <td ng-show="currentTab=='archived'">{{ transaction.premergeOutput }}</td>
            </tr>
        </tbody>
    </table>
</div>